/*======================BODY============================*/
body {
    background: linear-gradient(rgb(62, 45, 45), rgb(95, 55, 13)) ;
    font-size: 20px;
    height: 100%;
    width: 100%;
    margin-left: auto; 
    margin-bottom: 0;
    margin-top: 0;
    position: relative; 
}

#main {
    display: flex;
    flex-direction: column;
}

section {
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: black;
}

/*========================HEADER=======================*/

.link_nav {
    color: rgb(214, 214, 214);
    text-decoration: none;
    transition: color ease-in-out 150ms;
}
.link_nav:hover {
    color: black;
}

header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(180, 123, 99, 0.078);
    border: 2px solide rgb(180, 123, 99);
    height: 100px;
    color: rgb(214, 214, 214)
}

#header_nom {
    color: black;
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
}


ul, nav {
    list-style-type: none;
    display: flex;
}

li {
    margin-right: 20px;
}

/*======================SECTION ACCUEIL================*/
#accueil {
    display: flex;
    justify-content: space-between;
    color: rgb(171, 171, 171);
    margin-left: 100px;
    margin-top: 50px;
}

#title_h1 {
    margin-bottom: 0px;
    font-size: 60px;
}

#title_h1:hover {
    cursor: default;
}

#title_h2 {
    margin-top: 0px;
}

#image_de_couverture {
    margin-right: 200px;
}

#photo_profile {
    height: 500px;
    border-radius: 500px;
}

span {
    transition: all 200ms ease-in-out;
}
span:hover {
    font-weight: bold;
    color: brown;
    transform: rotate(20deg);
}


/*======================SECTION A PROPOS================*/

#a_propos {
    display: flex;
    border-radius: 20px;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.5);
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
}

#paragraphe_de_presentation {
    display: flex;
    margin-left: 30px;
    font-size: 30px;
    height: 500px;
    align-items: center;
 }

/*======================SECTION COMPETENCE================*/

.techno {
    border: 1px solid black;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 7px;
    background-color: rgb(213, 213, 213);
}

/*======================SECTION EXPERIENCE================*/

#carte_experience {
    background-color: rgba(41, 77, 41, 0.777);
    height: 250px;
    width: 250px;
    border: 2px solid grey;
}
/*======================SECTION CONTACT================*/


#logo_linkedin {
    text-decoration: none;
}


/*======================FOOTER================*/

#copyright {
    text-align: center;
}












 


















